<div class="container">
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <p><%= @task.completed ? 'task completed' : 'task not completed' %></p>
  <p><%= @task.created_at %></p>
  <p><%= link_to 'Back to Main', tasks_path %></p>
  <p><%= link_to edit_path(@task) do %>
         <i class="far fa-edit"></i>
        <% end %>
         <%= link_to task_path(@task), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %>
         <i class="far fa-trash-alt"></i>
        <% end %></p>
</div>
